/* ---- grid ---- */

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;
  height: auto;

}

.width-1 {
  width: 500px;
}

.grid-item.width-1 {
    margin-right: 9px;
}

.width-2 {
  width: 425px;	
}

.width-3 {
  width: 300px;	
}

.grid-item.width-3 {
    margin-right: 9px;
}

.width-4 {
  width: 400px;	
}

.grid-item.width-4 {
    margin-right: 9px;
}

.width-5 {
  width: 215px;	
}

.width-6 {
  width: 300px;	
  position: relative;
  bottom: 182px;  
}

.grid-item.width-6 {
    margin-right: 9px;
}

.width-7 {
  width: 625px;	
}

.grid-item.width-7 {
    margin-bottom: 9px;
}

.width-8 {
  width: 365px;	
}

.grid-item.width-8 {
    margin-right: 9px;
}

.width-9 {
  width: 250px;	
}


/* linkage */

.grid .enter1 {
    position: absolute;
    z-index: 9999;
    bottom: 3%;
    left: 31%;
    color: #fff;
    font-family: 'AvenirLTStd-Book', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 3px; 
}

.grid .enter2 {
    position: absolute;
    z-index: 9999;    
    bottom: 3%;
    left: 35%;
    color: #fff;
    font-family: 'AvenirLTStd-Book', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 3px; 
}

.grid-item {
  position: relative;
}

/* devices */
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 200px) 
and (max-width : 1100px) {

.width-1 {
  width: 400px;
}

.grid .enter1 {
  left: 26%;  
}

.width-2 {
  width: 340px; 
}

.width-3 {
  width: 210px; 
}

.width-4 {
  display: none;
}

.width-5 {
  display: none;
}

.width-6 {
  display: none; 
}

.width-7 {
  width: 530px; 
}

.grid .enter2 {
  left: 31%;  
}

.width-8 {
  display: none;
}

.width-9 {
  display: none;
}


}

@media only screen 
and (min-width : 200px) 
and (max-width : 1000px) {

.width-1 {
  width: 260px;
}

.width-2 {
  width: 221px; 
}

.width-3 {
  width: 135px; 
}

.width-4 {
  display: none;
}

.width-5 {
  display: none;
}

.width-6 {
  display: none; 
}

.width-7 {
  width: 345px; 
}

.width-8 {
  display: none;
}

.width-9 {
  display: none;
}

.grid .enter1 {
    left: 21%;
    font-size: 20px;
}


.grid .enter2 {
    left: 26%;
    font-size: 20px;
}

}

@media only screen 
and (min-width : 200px) 
and (max-width : 660px) {

.width-1 {
  width: 100%;
}

.width-2 {
  display: none; 
}

.width-3 {
  display: none; 
}

.width-4 {
  display: none;
}

.width-5 {
  display: none;
}

.width-6 {
  display: none; 
}

.width-7 {
  width: 100%;; 
}

.width-8 {
  display: none;
}

.width-9 {
  display: none;
}

.grid-item.width-1 {
    margin-bottom: 9px;
}

.grid .enter1 {
    font-size: 18px;
    left: 31%;
}

.grid .enter2 {
    font-size: 18px;
    left: 32%;
}

}

@media only screen 
and (min-width : 200px) 
and (max-width : 430px) {


.grid .enter1 {
    font-size: 14px;
    left: 26%;
}

.grid .enter2 {
    font-size: 14px;
    left: 26%;
}

}


